.el-dropdown-menu {
  padding: 4px;
}

.el-input-number.is-without-controls .el-input__wrapper {
  padding-left: 11px;
  padding-right: 11px;
}

.el-date-editor {
  --el-date-editor-width: 100%;
}

.el-drawer__header {
  margin-bottom: 0;
}

.my-dialog-body {
  min-height: 300px;
}

// 上传图片后，预览，关闭预览，就会出现删除的tip。关掉它，不好看
.el-upload-list__item .el-icon--close-tip {
  display: none !important;
}

.el-scrollbar__bar.is-horizontal  {
  height: 10px !important; // 让横向滚动条更粗，拖动起来更方便。但会压住最后一行的元素，浮在上面。不过问题不大，可接受。原本6px也会压住，只是因为够小，所以没觉得有问题
}
