.el-dropdown-menu {
    padding: 4px;
  }
  
  .el-input-number.is-without-controls .el-input__wrapper {
    padding-left: 11px;
    padding-right: 11px;
  }
  
  .el-date-editor {
    --el-date-editor-width: 100%;
  }
  
  .el-drawer__header {
    margin-bottom: 0;
  }
  
  .my-dialog-body {
    min-height: 300px;
  }